
.paper {
    margin: 10px auto 40px;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background: #fefefe;
    -moz-box-shadow: 5px 5px 5px #333;
    -webkit-box-shadow: 5px 5px 5px #333;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    position: relative;
}
.page {
    position: absolute;
    top: 14px;
    left: 14px;
    width: 472px;
    line-height: 1.5;
    font-size: 14px;
}

* {
    font-family: 'Microsoft JhengHei', verdana, arial, sans-serif;
}
html {
    overflow: hidden \9; //IE only, will make scrollTop disable in Firefox
    padding-bottom: 100000px;
}
body {
    overflow: hidden; //IE only
    padding: 0 auto;
}

p {
    font-size: 14px;
    margin: 0 auto 1em;
    padding: 0;
    letter-spacing: 1px;
}

#reader h1, h1 {
    display: block;
    font-size: 180%;
    margin: 0.5em 0;
    padding: 0;
}

h2 {
    font-size: 150%;
    margin: 0.5em 0;
}
h3 {
    font-size: 130%;
    margin: 0.5em 0;
}
h4 {
    font-size: 120%;
    margin: 0.5em 0;
}
h5 {
    font-size: 110%;
    margin: 0.5em 0;
}
h6 {
    font-size: 100%;
    margin: 0.5em 0;
}
