.paper {
    margin: 1em auto;
    border: 1px solid black;
    width: 18em;
    height: 28em;
    background: #fefefe;
    -moz-box-shadow: 5px 5px 5px #333;
    -webkit-box-shadow: 5px 5px 5px #333;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    position: relative;
}
.page {
    position: relative;
    top: 1em;
    left: 1em;
    width: 16em;
    overflow: hidden;
}

h1 {
    font-size: 150%;
}

#myNicPanel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}
