html, body {
    font-family: 'Microsoft JhengHei', verdana, arial, sans-serif;
    background-image: url('../images/bg.png');
}

body {
    text-align: center;
}
#container {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #68a;
    border-width: 0 1px 1px;
    background: #fff;
}

#header {
    padding: 6px;
    background: #000;
    color: #eee;
}
h1 {
    font-size: 200%;
    font-weight:bold;
    display: inline;
}
#header p {
    display: inline;
}
#nav {
    display: none;
}
#progress {
    float: right;
}
#toolbar {
    display: block;
    height: 27px;
    background: #F0F0EE;
    border-bottom: 1px solid #ccc;
}
#toolbar li {
    display: block;
    float: left;
    height: 27px;
    line-height: 27px;
}
#toolbar li a {
    padding: 0 12px;
    display: block;
    color: #000;
    text-decoration: none;
    border-right: 1px solid #ccc;
}
#toolbar li a:hover {
    color: #000;
    background: #B2BBD0;
    border: 1px solid #000;
    border-width: 0 1px 1px;
    margin-left: -1px;
}
#zoom-back {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    color: #000;
    background: #F0F0EE;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    padding: 4px 12px;
    text-decoration: none;
}
#zoom-back:hover {
    background: #B2BBD0;
    border-color: #000;
}
#zoom-back.w {
    top: 29px;
}
#powered {
    margin: 0.5em 4px;
    padding-left: 55px;
    border-top: 1px solid black;
    font-size: 90%;
}
#main {
    overflow: hidden;
    height: 550px;
}
#menu {
    position: relative;
    clear: both;
    float: left;
    width: 198px;
    border-right: 1px solid #ccc;
    padding-bottom:10000px;
    margin-bottom:-10000px;
}
#menu p {
    margin-bottom: 0;
}
#frontMatter,
#toc {
    margin: 0.5em 8px 0.5em 0;
}
#frontMatter li,
#toc li {
    list-style-type: disc;
    margin-left: 1.5em;
}
#goto-frontMatter,
#goto-content {
    display:block;
    margin: 4px 4px 0;
    -moz-border-radius: 4px;
    padding: 4px;
    border: 1px solid #999;
}
#backto-main:hover,
#goto-content:hover {
    background: #369;
    color:#fff;
    border-color: #036;
}
#content {
    float: right;
    width: 763px;
    padding-bottom: 10000px;
    margin: -1px -1px -10000px;
    z-index: 1;
    background: #F0F0EE;
}
#content.zoom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#content.zoom #reader {
    margin-top: 0;
}
#reader {
    overflow: hidden;
    height: 552px;
    position: relative;
    margin-top: 28px;
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
    background: #fff;
}
#editor {
    background: #f0f0ee;
    z-index: 1;
    position: relative;
}
#save {
    margin: 4px;
    padding: 0 4px;
    line-height: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#inplace {
    position: absolute;
    z-index: 100;
}
#inplace form {
    position: relative;
    top: -5px;
    left: -5px;
    padding: 4px;
    background: white;
    border: 1px solid black;
    text-align: left;
    line-height: 1.5;
}

a:link,
a:visited {
    color: blue;
}
a:hover {
    color: red;  
}

#frontMatter a,
#toc a {
    border: 2px solid transparent;
    padding: 2px;
    background: transparent; 
}
#frontMatter a.selected,
#toc a.selected {
    border: 2px solid #6a6;
    padding: 2px;
    background: #9f9; 
}

#content {
    font-size: 90%;
}

